
pages.json
crawler/tempCodeRunnerFile.py
# -----------------
# Python
# -----------------
__pycache__/
*.pyc
venv/

# -----------------
# React (nested)
# -----------------
app/templates/Vichar Search Engine Homepage/node_modules/

# -----------------
# Data
# -----------------
data/

# -----------------
# Temp files
# -----------------
crawler/

# -----------------
# Editor / OS
# -----------------
.vscode/
.DS_Store
Thumbs.db
