<!DOCTYPE html>

<html>
<head>
    <title>Search Engine</title>
</head>
<body>
    <h1>Mini Search Engine</h1>

    <form action="/search_page" method="get">
        <input type="text" name="q" placeholder="Search..." />
        <button type="submit">Search</button>
    </form>

    {% if results %}
        <h2>Results:</h2>
        <ul>
        {% for score, title, url in results %}
            <li>
                <a href="{{ url }}" target="_blank">{{ title }}</a>
                <br>
                Score: {{ score }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>